
BigCharPrinter.sdf
*.aps
*.filters
*.user
*.obj
*.manifest
BigCharPrinter/Debug/BigCharPrinter.exe.embed.manifest.res
*.lastbuildstate
*.log
*.pch
BigCharPrinter/Debug/BigCharPrinter.res
*.cache
*.tlog
BigCharPrinter/Debug/BigCharPrinter_manifest.rc
*.idb
*.pdb
Debug/BigCharPrinter.exe
*.ilk
*.suo
Debug/GetCharData.dll
*.exp
Debug/GetCharData.lib
GetCharData/Debug/GetCharData.dll.embed.manifest.res
GetCharData/Debug/GetCharData.res
GetCharData/Debug/GetCharData_manifest.rc
*.ipch
BigCharPrinter.suo
*.suo
BigCharPrinter.suo
*.suo
*.suo
