
BigCharPrinter.sdf
*.aps
*.filters
*.user
*.obj
*.manifest
BigCharPrinter/Debug/BigCharPrinter.exe.embed.manifest.res
*.lastbuildstate
*.log
*.pch
BigCharPrinter/Debug/BigCharPrinter.res
*.cache
*.tlog
BigCharPrinter/Debug/BigCharPrinter_manifest.rc
*.idb
*.pdb
Debug/BigCharPrinter.exe
*.ilk
*.opensdf
*.ipch
*.suo
